<header>
  <h1>Samuel van Velzen</h1>
  <p>Fullstack Developer | Frontend Specialist</p>
</header>

<section>
  <p>
    A cheerful and solution-oriented programmer with a passion for tackling
    complex problems. I excel in creating effective solutions, whether working
    collaboratively or independently. My main focus as a developer is to
    consistently deliver the best possible experience for both customers and
    users.
  </p>
</section>

<section>
  <h3>Highlights</h3>
  <ul>
    <li>
      Extensive experience in frontend development using Angular, React.js, and
      Next.js
    </li>
    <li>Proficient in backend development with C# and Laravel</li>
    <li>Skilled in test-driven development using Jest, NUnit, and Cypress</li>
    <li>Experience in mentoring and supervising new team members</li>
  </ul>
</section>

<section>
  <h3>Contact Information</h3>
  <p>Email: SamuelvVelzen&#64;iCloud.com</p>
  <p>Phone: +316 27 54 28 94</p>
  <p>Location: Harderwijk, The Netherlands</p>
</section>
