@import './../../../utilities/variables.scss';

.smallimage {
    padding: 50px $desktop_spacing;

    .image {
        width: 100%;
        height: auto;
    }
}

@media only screen and (max-width: $tablet) {
    .smallimage {
        padding: 50px $tablet_spacing;
    }
}

@media only screen and (max-width: $mobile) {
    .smallimage {
        padding: 50px $mobile_spacing;
    }
}
