<svv-navbar>
  <svv-nav-item
    icon="bi-terminal"
    path="/resume/home"
    [bodyClass]="'navbar-brand'"
    >Samuël</svv-nav-item
  >

  <div class="ml-auto d-flex gap-3">
    <svv-nav-item path="/resume/home">Home</svv-nav-item>
    <!-- <svv-nav-item path="/resume/about-me">About me</svv-nav-item> -->

    <svv-link
      href="https://github.com/SamuelvVelzen"
      [icon]="'bi-github'"
    ></svv-link>

    <svv-link
      href="https://www.linkedin.com/in/samuelvvelzen/"
      [icon]="'bi-linkedin'"
    ></svv-link>
  </div>
</svv-navbar>

<main class="container">
  <router-outlet />
</main>
