@import './../../utilities/variables.scss';

#navbar {
    position: sticky;
    top: 0;

    display: flex;
    align-items: center;

    transition: padding 0.5s;
    padding: 14px $desktop_spacing;

    z-index: 100;

    .description {
        cursor: pointer;

        font-weight: bold;
        font-size: 18px;
        margin-right: auto;
    }

    .btn_link {
        transition: margin 0.5s;
        margin-right: 5%;

        display: flex;
        flex-flow: row nowrap;
        align-items: center;

        .hover {
            transition: all 0.3s;
            position: relative;
            &:before,
            &:after {
                content: '';
                position: absolute;
                bottom: -10px;
                width: 0px;
                height: 5px;
                margin: 5px 0 0;
                transition: all 0.3s;

                opacity: 0;
                background-color: $black;
            }

            &.dark {
                &:before,
                &:after {
                    background-color: $white;
                }
            }

            &.inline {
                &:before {
                    left: 50%;
                }
                &:after {
                    right: 50%;
                }
            }
        }

        &:hover {
            cursor: pointer;
            .hover {
                &:before,
                &:after {
                    width: 100%;
                    opacity: 1;
                }
                &.inline {
                    &:before,
                    &:after {
                        width: 50%;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: $tablet) {
    #navbar {
        padding: 14px $tablet_spacing;
    }
}

@media only screen and (max-width: $mobile) {
    #navbar {
        padding: 14px $mobile_spacing;

        .btn_link {
            margin-right: 3%;
        }
    }
}
