@import './../../utilities/variables.scss';

#navbar {
    position: sticky;
    top: 0;

    display: flex;
    align-items: center;

    transition: padding 0.5s;
    padding: 14px $desktop_spacing;

    .description {
        font-weight: bold;
        font-size: 18px;
        margin-right: auto;
    }

    .btn_link {
        transition: margin 0.5s;
        margin-right: 5%;
    }
}

@media only screen and (max-width: $tablet) {
    #navbar {
        padding: 14px $tablet_spacing;
    }
}

@media only screen and (max-width: $mobile) {
    #navbar {
        padding: 14px $mobile_spacing;

        .btn_link {
            margin-right: 3%;
        }
    }
}
