.pill {
    cursor: pointer;

    display: inline-block;
    background-color: white;
    color: black;
    padding: 5px;

    outline: none;
    border: none;

    border-radius: 75px;
    margin-right: 5%;

    .total {
        font-weight: bolder;
    }
}
