.pill {
    cursor: pointer;

    display: inline-block;
    background-color: white;
    color: black;
    padding: 5px 10px;

    outline: none;
    border: none;

    border-radius: 75px;
    margin-right: 5%;

    .total {
        font-weight: bolder;
    }

    &:not(.active):hover {
        opacity: 0.8;
    }

    &.active {
        color: white;
    }
}
