<section>
  <h2>Projects</h2>

  <div class="row row-cols-1 row-cols-md-2 rows-cols-xl-3 row-cols-xxl-4 g-5">
    <svv-project class="col"></svv-project>
    <svv-project class="col"></svv-project>
    <svv-project class="col"></svv-project>
    <svv-project class="col"></svv-project>
    <svv-project class="col"></svv-project>
    <svv-project class="col"></svv-project>
    <svv-project class="col"></svv-project>
    <svv-project class="col"></svv-project>
    <svv-project class="col"></svv-project>
    <svv-project class="col"></svv-project>
  </div>
</section>
