@import "./bootstrap/index";

@import "bootstrap-icons/font/bootstrap-icons";

html,
body {
  min-height: 100vh;

  background-color: var(--bs-dark);
  color: var(--bs-light);
}

.navbar-brand {
  color: var(--bs-light) !important;
}

svv-root {
  min-height: 100%;
  display: block;
}
