@import "./bootstrap/index.scss";

html,
body {
  height: 100vh;

  background-color: var(--bs-dark);
  color: var(--bs-light);
}

.navbar-brand {
  color: var(--bs-light) !important;
}

p {
  margin-bottom: 0;
}
