@import './../../utilities/variables.scss';

#USPS {
    .USPS_content {
        display: flex;
        flex-wrap: wrap;

        color: white;
        background-color: #2d7359 !important;

        padding: 50px $mobile_spacing;
        margin: 0px $mobile_spacing;

        h1 {
            width: 100%;
        }

        .text {
            flex: 3;
            margin-right: 5%;
        }

        .uspslist {
            flex: 1;
            align-self: center;

            ul {
                list-style-type: none;

                li {
                    margin-bottom: 25px;
                }
            }
        }
    }
}

@media only screen and (max-width: $tablet) {
    #USPS {
        .USPS_content {
            margin: 0;
        }
    }
}

@media only screen and (max-width: $mobile) {
    #USPS {
        .USPS_content {
            padding: 14px $mobile_spacing;
            flex-direction: column;

            .text {
                flex: 3;
                margin-right: 0;
                margin-bottom: 5%;
            }

            .uspslist {
                align-self: initial;
            }
        }
    }
}
